/*Universal NavBar*/
.navbar {
    padding: 30px;
    background-color: #FFF7ED;
}
.text-color-dark {
    color: #161616;
}
#vanlife-container {
    transition: all 0.2s ease-in-out;
}
#vanlife-container:hover {
    scale: 1.1;
    text-decoration: underline;
    text-underline-offset: 5px;
}
#vanlife-container:active {
    scale: 0.9;
}
#nav-elements-container {
    transition: all 0.2s ease-in-out;
}
.nav-elements-container {
    transition: all 0.2s ease-in-out;
}
.nav-elements-container:hover {
    font-size: 1.2rem;
}
.nav-elements-container:active {
    font-size: 0.9rem;
}


/*HomePage Hero Section*/
.home-hero-section {
    background: url(../public/Images/homepage-bg.png) no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 80px 20px;
  }
.home-hero-section a {
    background-color: #FF8C38;
    color: #FFFFFF;
    transition: all 0.2s ease-in-out;
}
.home-hero-section a:hover {
    scale: 1.1;
}
.home-hero-section a:active {
    scale: 0.9;
}
.home-hero-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 60px;
}


/*About Hero Section*/
.explore-van-btn {
    background-color: #161616;
    color: #FFFFFF;
    width: 50%;
    transition: all 0.2s ease-in-out;
}
.explore-van-btn:hover {
    scale: 1.1;
    border: solid 1px black;
}
.explore-van-btn:active {
    scale: 0.9;
}
.about-van-btn-container {
    background-color: #FFCC8D;
}
.img-container {
    background: url(../public/Images/aboutpage-bg.png) no-repeat center center/cover;
    height: 300px;
}


.filter-btn {
    background-color: #FFCC8D;
    transition: all 0.2s ease-in-out;
}
.filter-btn:hover {
    background-color: #FF8C38;
    scale: 1.1;
}
.filter-btn:active {
    scale: 0.9;
}
.filter {
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: all 0.2s ease-in-out;
}
.filter:hover {
    transform: scale(1.1);
}
.filter:active {
    transform: scale(0.9);
}


/*Van Cards*/
#van-card-container {
    border: solid 1px #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.van-card {
    transition: all 0.2s ease-in-out;
}
.van-card-van-text-decor {
    color: #161616;
}
.van-card:hover {
    scale: 1.1;
}
.van-card:active {
    scale: 0.9;
}
.van-card-type-bg {
    transition: all 0.2s ease-in-out;
}
.van-card-type-bg:hover {
    background-color: green;
}
.van-img {
    max-width: 100%;
    height: auto;
    border: solid 1px #ddd;
    background: url(./Components/placeholder-img.jpg) no-repeat center center/cover;
    margin-bottom: 30px;;
}
.simple-color {
    background-color: #ff5656;
}
.luxury-color {
    background-color: #dafe38;
}
.rugged-color {
    background-color: #b1b1b1;
}
.van-price-info {
width: 40%;
}

/*Van Type Page*/
#van-img-container {
    padding : 30px;
    padding-bottom: 0px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.rent-van-big {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.rent-btn {
    transition: all 0.2s ease-in-out;
    border: 1px #161616 solid;
    background-color: lightgreen;
}
.rent-btn:hover {
    scale: 1.1;
    border: 1px #161616 solid;

}
.rent-btn:active {
    scale: 0.9;

}

/*Universal Footer*/
.footer {
    background-color: #252525;
    color: #AAAAAA;
    text-align: center;
    padding: 30px;
  }
