/*Universal Styles*/
.trans-hover {
    transition: all 0.3s ease-in-out;
}
.trans-hover:active {
    scale: 0.9;
}
/*Universal NavBar*/
.navbar {
    padding: 30px;
    background-color: #FFF7ED;
}
.primary-color {
    color: #4D4D4D;
}
.container .h1 {
    font-weight: bold;
    color: #000000;
    font-size: 1.5rem;
    padding: 0;
}
.container .h1:hover {
    text-decoration: underline;
}
/*HomePage Hero Section*/
.home-hero {
    background: url(../public/Images/homepage-bg.png) no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 80px 20px;
  }
.home-hero a {
    background-color: #FF8C38;
    color: #FFFFFF;
}
.home-hero-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 60px;
  }
/*About Hero Section*/
.explore-van-btn {
    background-color: #161616;
    color: #FFFFFF;
    width: 50%;
}
.about-van-btn-container {
    background-color: #FFCC8D;
}
.img-container {
    background: url(../public/Images/aboutpage-bg.png) no-repeat center center/cover;
    height: 300px;
}
.filter-btn {
    background-color: #FFCC8D;
    transition: all 0.2s ease-in-out;
}
.filter-btn:hover {
    background-color: #FF8C38;
    scale: 1.1;
}
.filter-btn:active {
    scale: 0.9;
}
.filter {
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: all 0.2s ease-in-out;
}
.filter:hover {
    transform: scale(1.1);
}
.filter:active {
    transform: scale(0.9);
}
/*Van Cards*/
.van-card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}
.van-img {
    max-width: 100%;
    height: auto;
    background: url(./Components/placeholder-img.jpg) no-repeat center center/cover;
}
.rent-btn {
    bottom: 50px;
}
/*Universal Footer*/
.footer {
    background-color: #252525;
    color: #AAAAAA;
    text-align: center;
    padding: 30px;
  }
